@import "tailwindcss";

@theme {
  /* --color-primary: #3490dc; */
  /* --color-primary: #106ebe;
  --color-secondary: #a0aec0;
  /* --color-accent: #68d391; */
  /* --color-accent: #0ffcbe;
  --color-background-light: #ffffff;
  --color-background-dark: #f7fafc;
  --color-text-primary: #fffaf1;
  --color-text-secondary: #4a5568; */

  --color-primary: #3490dc;
  --color-secondary: #5ea8e4;
  --color-background-light: #fffffe;
  --color-background-darker: #dddddd;
  --color-text-primary: #272626;
  --color-text-accent: #fafafa;
  --color-accent: #fafafa;
  /* 
    latar belakang: #B0C4DE
    container/card: #E6E6FA
    teks utama: #333333 / #000080
    teks sekunder aksen kecil : #FFB6C1 / #FFFFE0
    aksen/tombol pentig : #9370DB
  */
  /*   
  #9eb0c8
  #8d9db2
  #7b899b
  #6a7685
  	#dc7f32
  */
}

.text-shadow {
  text-shadow: 1px 1px #747171;
}

.test {
  color: #dddddd;
}

.shadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
}
